body {
    background-image:url(sfondo.jpeg);
    margin : 0;
    background-size: cover;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
    
header {
  
    height: auto;
    width: 100%;
    margin-bottom: 2%;
    align-items: left;
    padding-bottom: 1%;
    
}
span {
    margin: 0px;
    margin-right: 10px;
    padding: 0px;

}
br {
    margin: 1px;
    padding: 1px;
}

h1 {
    padding-top: 2%;
    text-align: center;
    justify-content: center;
    font-style:initial;


}
h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    padding: 0px;
     margin: 0px;
     font-style: italic;


   
}
.container {

    display: flex;
    margin:auto;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 20px;

    

}
.box {
    box-shadow: 0 60px 60px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height:100px;
    background-color: rgb(255, 255, 255);
    border-radius:20px;
    margin:auto;
    transform: translateY(-5px);
    padding: 7%;
    box-sizing: border-box;
}
.box:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}
.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(logo.jpeg);
    background-size: cover;
    box-shadow: 0 30px 30px 0 rgba(121, 119, 119, 0.2);
    margin: auto
   
}
footer {

    height: auto;
    width: 100%;
    margin-top: auto;
    padding: 2%;
    background-color: rgb(255, 255, 255);
}
